body{
  background: #d1defa;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.layout{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas: 
  "header header header header"
  "nav nav nav nav"
  "content content content lateral"
  "footer footer footer footer";
  grid-template-rows: 100px 70px auto 70px;
}
.header{
  grid-area: header;
  background: white;
  display: flex;
  justify-content: center;
}
.Logo{
  background: linear-gradient(90deg,#03228f 10%,#0e73e4);
  width: 40px;
  height: 40px;
  border-radius: 300px;
  margin-top: 30px;
}
.play{
  width: 0;
  height: 0;
  margin-top: 15px;
  margin-left: 16px;
  border-left: 12px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.nav{
  grid-area: nav;
  background: #00DFA2;
}
.nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav li{
  padding: 10px;
}
.nav a{
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  text-decoration: none; 
  transition: all 300ms;
}
.nav a:hover {
  transform: scale(1.1) rotate(30deg);
  /* Otros estilos */
}

.lateral{ 
  grid-area: lateral;
  background: #f6f7f9;
  border-left: 1px solid #ddd;
}

.lateral > div{
  box-sizing: border-box;
  width: 90%;
  margin: 20px;
  padding-top: 10px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  
}
.lateral input[type="text"],
.lateral input[type="text"],
.lateral textarea{
  display: block;
  margin: 0;
  margin-top: 15px;
  padding-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}


.footer{
  grid-area: footer;
  background: #d1defa;
  color: #454545;
  border-top: 1px solid white;
  text-align: left;
  line-height: 68px;
  padding-left: 25px;
}
.content{
  grid-area: content;
  background: #f6f7f9;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.peli-item{
  flex-grow: 1;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 6px #ddd;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 20px;
  margin-left: 20px;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Transiciones suaves */
}

.peli-item:hover {
  background-color: #00DFA2;
   /* Cambia el color de fondo a verde (#00FF00) */
  box-shadow: 5px 4px 8px rgba(0, 255, 0, 0.2);
  transform: translateY(-5px) scale(1.02);
  /* Otros estilos al pasar el mouse */
}

button,input[type="submit"],
input[type="button"]{
  width: 150px;
  background: #00FFCA;
  color: white;
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.edit,
.delete {
  width: 100px; /* Ajusta el ancho según lo deseado */
  margin: 1px; /* Ajusta el margen según lo deseado */
  padding: 8px; /* Ajusta el padding según lo deseado */
  font-size: 14px;
}







.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

button {
  background-color: #00FFCA;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}


/* Estilos para la clasificación de estrellas */
.rating{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.star {
  font-size: 24px;
  margin-right: 10px; /* Ajusta el margen derecho según lo deseado */
  margin-left: 2px;  /* Ajusta el margen izquierdo según lo deseado */
  cursor: pointer;
}



.selected {
  color: #FFD700;
}



